//media query breakpoints

$background : #F4F4F4;
$ucase      : uppercase;
$width      : 49%;
$display    : inline-block;
$ssize      : small;
$msize      : medium;
$x-large    : x-large;
$pxsize     : 16px;
$brk-max    : "(max-width: 768px)";
$brk-narrow : "(min-width: 768px)";
$brk-wide   : "(min-width: 1024px)";
$gcolor     : grey;
$bcolor     : black;
$white      : white;
$lightgray  : lightgray;
$font       : "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
